body{
    margin: 0;
    background: #2c2c2c;
    overflow: hidden;
}
/* ----Button Style---- */
#button{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .window{
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .voice{
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .webcam{
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .keylogger{
    width: 150px;
    height: 65px;
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}
/* <a>  text-decoration: none; */
#button > .window > a{
    color: aliceblue;
    text-decoration: none;
}
#button > .voice > a{
    color: aliceblue;
    text-decoration: none;
}
#button > .webcam > a{
    color: aliceblue;
    text-decoration: none;
}
#button > .keylogger > a{
    color: aliceblue;
    text-decoration: none;
}
