body{
    margin: 0;
    background: #2c2c2c;
    overflow: hidden;
}
/* ----main---- */
#main{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex; 
    flex-direction: column;
}

#main > h1{
    margin-top: 3%;
    color: #b8b8b8; 
}
/* ----Button Style---- */
#button{
    text-align: center;
    width: 100%;
    height: 70vh;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .window{
    transition: .2s ease;
    border: 2px solid #b8b8b8; 
    border-radius: 25px; 
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .webcam{
    transition: .2s ease;
    border: 2px solid #b8b8b8; 
    border-radius: 25px; 
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .voice{
    transition: .2s ease;
    border: 2px solid #b8b8b8; 
    border-radius: 25px; 
    width: 150px;
    height: 65px;
    margin-right: 10px; 
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#button > .keylogger{
    transition: .2s ease;
    border: 2px solid #b8b8b8; 
    border-radius: 25px; 
    width: 150px;
    height: 65px;
    float: left; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}
/* <a>  text-decoration: none; */

#button > .window > a{
    color: aliceblue;
    transition: 0.3s ease;
    text-decoration: none;
}

#button > .webcam > a{
    color: aliceblue;
    transition: 0.3s ease;
    text-decoration: none;
}

#button > .voice > a{
    color: aliceblue;
    transition: 0.3s ease;
    text-decoration: none;
}

#button > .keylogger > a{
    color: aliceblue;
    transition: 0.3s ease;
    text-decoration: none;
}

/* ----<a> hover---- */
#button > .window > a:hover{
    transition: 0.3s ease;
    font-size: larger;
    color: #fff;
}

#button > .webcam > a:hover{
    transition: 0.3s ease;
    font-size: larger;
    color: #fff;
}

#button > .voice > a:hover{
    transition: 0.3s ease;
    font-size: larger;
    color: #fff;}

#button > .keylogger > a:hover{
    transition: 0.3s ease;
    font-size: larger;
    color: #fff;
}
/* ----tags hover---- */
#button > .window:hover{
    transition: .2s ease;
    border-radius: 30px; 
    width: 160px;
    height: 75px;
}

#button > .webcam:hover{
    transition: .2s ease;
    border-radius: 30px; 
    width: 160px;
    height: 75px;
}

#button > .voice:hover{
    transition: .2s ease;
    border-radius: 30px; 
    width: 160px;
    height: 75px;
}

#button > .keylogger:hover{
    transition: .2s ease;
    border-radius: 30px; 
    width: 160px;
    height: 75px;
}
